// For image replacement
.image-replacement{
    border: 0;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    overflow: hidden;
   *text-indent:-9999px;
    &:before{
        content:"";
        display:block;
        width:0;
        height:100%;
    }
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}

.vcentered {
    @include inline-block;
    vertical-align: middle;
}