// Size
@mixin attr-size($attr, $sizes, $important:null, $unit:rem, $base:16) {
    $ie:null !default;
    $others:null !default;
    @each $n in $sizes {
        @if $n == "auto" {
            $ie: join($ie, $n);
            $others: join($others, $n);
        } @else {
            $ie: join($ie, #{strip-units($n)}px);
            $others: join($others, #{relative-size($n, $base, $unit)});
        }
    }

    #{$attr}: join($ie, $important);
    #{$attr}: join($others, $important);
}

// Clearfix
@mixin cf() {
    @include clearfix();
}

// IE7 inline-block
@mixin inline-block($important:null) {
    display: join(inline-block, $important);
    *display: join(inline, $important);
    *zoom:1;
}

// IE7 inline-block Important
@mixin inline-block-important() {
    @include inline-block(!important);
}

// Font family Default
@mixin sans-serif($prepend:null) {
    $list: "Helvetica Neue", Helvetica, sans-serif;
    font-family: join($prepend, $list, comma);
}

@mixin serif($prepend:null) {
    $list: "Times New Roman", Times, serif;
    font-family: join($prepend, $list, comma);
}

// Webkit-style focus
@mixin tab-focus() {
    // Default
    outline: thin dotted #333;
    // Webkit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// Placeholder text
@mixin placeholder($color: $placeholderText) {
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

// Reset filters for IE
@mixin reset-filter() {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}