.botao {
    position   : relative;
    display    : inline-block;
    padding    : 12px 40px 8px 20px;
    line-height: 26px;
    font-size  : 22px;
    font-family: $font-helvetica-light;
    color      : $verde-escuro;
    background : transparent image-url('botao-bg.jpg') no-repeat left top;
    @include background-size(cover);

    &:hover { color: $branco; }

    strong,b { font-family: $font-droidsans-bold; }

    .seta {
        position: absolute;
        right: -5px;
        top: 50%;
        margin-top: -11px;
    }
}

.box {
    padding: 15px;
    margin-bottom: 2px;
    overflow: hidden;

    //cor padrão é branco
    background: $branco;
    color: $verde-escuro;

    &.verde {
        color: $branco;
        background: $verde-claro;
        font-size: 18px;
    }

    &.vermelho {
        color: $branco;
        background: $vermelho-claro;
        font-size: 18px;
    }

    &.vermelho-escuro {
        color: $branco;
        background: $vermelho-escuro;
        font-size: 36px;
        font-family: $font-droidsans-bold;
    }

    .botao {
        .seta {
            right: -20px;
        }
    }
}

.boxes {
    overflow: hidden;
    
    .box {
        float: left;
        line-height: 70px;
        height: 70px;
        padding: 0 15px;
        margin: 0;
        font-family: $font-droidsans;

        .botao {
            width: 100%;
            height: 70px;
            line-height: 70px;
            padding: 0 30px 0 10px;
            @include box-sizing(border-box);
        }
    }
}