#cristo {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    z-index: 4;

    .container-cristo {
        width: 100%;
        height: 0;
        padding-bottom: ($cristo-ratio - 3) * 1%;
        position: relative;
        overflow: visible;
    }

    .mapa-cristo, .mapa-cristo-projecao {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;

        .area {
            display: none;
            position: absolute;
            border: 1px solid rgba(255,255,255,0.1);
            @include box-sizing(border-box);

            &.area-ok { border-color: red; }
        }
    }

    .mapa-cristo-projecao {
        .area {
            $tamanho: 10%;
            width: $tamanho;
            height: $tamanho;
        }
    }

    .mapa-cristo {
        .area {
            $tamanho: 4%;
            width: $tamanho;
            height: $tamanho;

            &.area-ok { border-color: #76c85e; }
        }
    }

    .jesus {
        position: absolute; 
        width: 98%;
        top: -2%;
        left: 0;
        z-index: 1;
    }
}

.grid {
    #cristo {
        .mapa-cristo, .mapa-cristo-projecao {
            .area {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: $bp-medium) {
    #cristo {
        @include clearfix;
        margin-top: 20px;
    }
}

@media only screen and (max-width: $bp-tablet) {
    #cristo {
        width: 200%;
        left: -50%;
    }
}

@media only screen and (max-width: $bp-iphone) {
    #cristo {
        width: 300%;
        left: -100%;
        // padding-bottom: $cristo-ratio * 3%;
    }
}