// $star-w: image-width('estrela-cristo-1.png');
// $star-h: image-height('estrela-cristo-1.png');

$star-w  : 150px;// image-width('estrela-cristo-1.png');
$star-h  : 150px;// image-height('estrela-cristo-1.png');
$hit-size: 20px;

.estrelas {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    z-index : 2;

    .estrelas-item {
        width      : $hit-size;
        height     : $hit-size;
        position   : absolute;
        font-family: Arial;
        color      : #2d373a;
        font-size  : 12px;
        z-index    : 2;

        a { color: #ca411b; }

        .estrelas-item-icon {
            display       : block;
            width         : $hit-size;
            height        : $hit-size;
            // margin-left   : $hit-size / -1;
            // margin-top    : $hit-size / -1;
            overflow      : visible;

            img {
                width         : $star-w;
                max-width     : $star-w;
                height        : $star-h;
                margin-left   : ($star-w) / -2 + ($hit-size/2);
                margin-top    : ($star-h) / -2 + ($hit-size/2);
            }

            &.match {
                border: 2px solid red;
            }
        }

        $largura-linha: 75px;

        .estrelas-item-line {
            background: $branco;
            width     : $largura-linha;
            height    : 1px;
            position  : absolute;
            top       : $hit-size - 10px;
            left      : $hit-size - 10px;
            display   : none;
            @include box-shadow($branco 0 0 5px);
        }

        .estrelas-item-wrap {
            width     : 400px;
            height    : 125px;
            background: rgba(255, 255, 255, 0.6);
            padding   : 10px 10px 10px 15px;
            position  : absolute;
            top       : -30px;
            left      : $largura-linha + $hit-size - 10px;
            display   : none;
            @extend .clearfix;

            .estrelas-item-content {
                width         : 265px;
                float         : left;

                .estrelas-item-text { 
                    margin     : 0;
                    font-weight: bold;
                }
                .estrelas-item-name {
                    font-size  : 14px;
                    font-weight: bold;
                }
            }

            .estrelas-item-image { float: right; }

            hr {
                margin       : 9px 0 14px 0;
                // For old brosers
                border-top   : 1px solid rgb(117, 153, 143);
                border-bottom: 1px solid rgb(89, 128, 112);

                // For modern brosers
                border-top   : 1px solid rgba(117, 153, 143, 0.2);
                border-bottom: 1px solid rgba(89, 128, 112, 0.2);
                border-right : none;
                border-left  : none;
                height       : 0;
            }
        }

        &.without-image {
            .estrelas-item-content { width: 100%; }
            .estrelas-item-image { display: none; }
        }

        &.active { z-index: 100; }

        /* Estrela com conteúdo a esquerda */
        &.estrelas-item-left {
            .estrelas-item-line {
                left : auto;
                right: $hit-size / 2;
            }

            .estrelas-item-wrap {
                left   : -465px;
                padding: 10px 15px 10px 10px;
            }

            .estrelas-item-image { float  : left; }
            .estrelas-item-content { float: right; }

            .share-facebook,
            .share-twitter {
                left : -39px;
                right: auto;
            }
        }

        &.estrelas-item-bottom {
            .estrelas-item-wrap {
                top:-115px + ($hit-size/2);
            }
        }
    }
}

/* Share links */
.share-twitter {
    background: rgba(120, 204, 240, 0.2);
    top       : 0px;

    &:hover {
        background: rgba(120, 204, 240, 0.8);
    }

    i:before {
        @extend .sprites-icone-twitter;
        top : 9px;
        left: 9px;
    }
}

.share-facebook {
    background: rgba(84, 123, 189, 0.3);
    position  : absolute;
    top       : 33px;

    &:hover {
        background: rgba(84, 123, 189, 0.8);
    }

    i:before {
        @extend .sprites-icone-facebook;
        top : 7px;
        left: 13px;
    }
}
.share-twitter,
.share-facebook {
    position: absolute;
    right   : -39px;
    width   : 37px;
    height  : 31px;
    @include transition(background 0.5 linear);

    i:before {
        content : "";
        display : block;
        position: absolute;
    }
}

@media only screen and (max-width: $bp-medium) {
    .estrelas {
        .estrelas-item {
            .estrelas-item-line { visibility: hidden; }

            .estrelas-item-wrap {
                left: -120px;
                top : $star-h * 0.75;
            }

            &.estrelas-item-left {
                .estrelas-item-wrap { left: -120px; }
            }
        }
    }
}

// Estrela Drag
.estrela-drag{
    $width  : 111;
    $height : 109;
    @include border-radius(50%);
    @include attr-size('width', $width);
    @include attr-size('height', $height);
    @include attr-size('margin-left', -($width / 2));
    @include attr-size('margin-top', -($height / 2));
    position: absolute;
    top     : 50%;
    left    : 50%;
    z-index : 1;
    overflow: hidden;

    &.movendo { z-index: 20; }
}

.touch {
    .estrela-drag{
        background-color: rgba(white, .2);
        @include box-shadow(rgba(white, .5) 0 0 10px);
    }
}

@media only screen and (max-width: $bp-tablet) {
    .estrela-drag { 
        position: fixed !important;
        top     : 30%;
    }
}