$box-width: 600px;
$box-side: 70px;
$box-pad: 0px;
$box-total-pad: $box-pad * 2;
$box-width-np: $box-width - $box-total-pad;

#enviarMensagem {
    position: fixed;
    top     : 0;
    left    : 0;
    overflow: hidden;
    z-index : 20;
    width   : 100%;
    height  : 100%;

    .box { 
        width        : $box-width - $box-total-pad; 
        position     : relative;
        margin-bottom: 10px;
    }
    .boxes {
        width        : $box-width;
        height       : $box-side;
        margin-bottom: 10px;

        .box { 
            width    : $box-width - $box-side - ($box-total-pad * 2); 
            z-index  : 1; 
            font-size: 15px;

            &.numero { 
                width     : $box-side - $box-total-pad; 
                z-index   : 2;
                font-size : 40px;
                text-align: center;
                
            }
            &.titulo {
                font-size  : 15px;
                font-weight: bold;
                color      : #355a71;
                padding    : 0 20px;
            }
        }
        
    }

    .etapa {
        z-index    : 15;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        width      : $box-width + 37px;
        margin-left: -300px;
        margin-top : -35px;
        font-size  : 12px;
        overflow   : hidden;

        .container-etapa {
            width   : $box-width;
            overflow: hidden;
        }

        .botao { 
            float       : right;
            margin-right: 5px; 
        }
        .campo {
            border    : none;
            background: #e8e8e8;
            color     : $verde-escuro;
            padding   : 0 10px;
            width     : $box-width - $box-total-pad - 30px;
            min-height: 37px;

            &::-webkit-input-placeholder { color:#2d2d2d; font-size: 14px; }
            &::-moz-placeholder { color:#2d2d2d; font-size: 14px; }
            &:-ms-input-placeholder { color:#2d2d2d; font-size: 14px; }
            &:-moz-placeholder { color:#2d2d2d; font-size: 14px; }
            &:focus { outline: none; }
        }

        .fechar {
            @include replace-text-with-dimensions('fancybox/fancybox_close.png');
            display : block;
            position: absolute;
            right   : 0;
            top     : 0;
        }
    }

    .etapa-2 {
        $login-width: 160px;
        margin-top: -145px;

        .boxes { 
            float: left;
            width: $box-width - $login-width;
            //.box.titulo { width: $box-width - $login-width - ($box-total-pad*4); }
            .box.titulo { width: $box-width - $login-width - $box-side; }
        }
        .login {
            width   : $login-width;
            position: relative;

            .box {
                position   : absolute;
                top        : 0;
                width      : $box-side;
                height     : $box-side;
                line-height: $box-side;
                padding    : $box-pad;
                margin-left: 10px;
                text-align : center;

                a {
                    display: block;
                    width  : 100%;
                    height : 100%;
                }
            }

            .facebook {
                left      : 0;
                background: #547bbd;
                background: rgba(#547bbd,0.5);
            }
            .email {
                right     : 0;
                background: #ffffff;
                background: rgba(#ffffff,0.4);

                &:hover {
                    background: #ffffff;
                }
            }
        }
        

        .form-login {
            @include clearfix;
            float   : left;
            overflow: hidden;

            input, label { display: block; }
            label {
                font-size: 12px;
            }
            input {
                line-height  : 45px;
                margin-bottom: 20px;
            }
        }
    }

    .etapa-3 {
        margin-top: -215px;

        .box, .boxes { margin-bottom: 2px; }

        textarea.campo {
            height    : 100px;
            margin-top: 10px;
            padding   : 10px;
        }

        .container-campo { position: relative; }
        .contador {
            position  : absolute;
            bottom    : 0;
            right     : 0;
            height    : 18px;
            min-height: 0;
            color     : lighten($verde-escuro,20%);
            font-size : 12px;
            text-align: right;
            background: none;
        }

        .captcha {
            $img-width: 120px;
            $bt-width: 100px;
            vertical-align: middle;

            .container-captcha{
                @extend .vcentered;
                img { width: $img-width; margin: 0 5px; }
                .campo { width: $box-width - $box-total-pad - $img-width - $bt-width - 30px; }
            }

            .atualizar-captcha { 
                color          : #000000; 
                font-size      : 11px;
                text-decoration: underline;
            }
        }

        .feedback {
            background : #af3d1d !important;
            color      : #ffffff !important;
            font-weight: bold;
        }
    }

    .etapa-4 {
        margin-top: -130px;

        .boxes {
            margin-bottom: 2px;
            overflow: visible;

            .box {
                margin-bottom: 0;

                &.titulo { width: $box-width-np -  224px; }
                &.titulo2 { 
                    width  : 224px;
                    padding: 0;
                    overflow: visible;

                    .botao { 
                        padding-left: $box-pad;
                        margin-right: 0;
                        font-family : $font_droidsans;
                        font-size   : 15px;
                        font-weight : bold;
                        text-align  : center;
                        color       : #ffffff;
                        background  : image-url('bt-vermensagem-bg.jpg') no-repeat right top;

                        .seta { right: -6px; }
                    }
                }
            }
        }

        .retorno {
            padding: 33px 26px;
            color: #355a71;

            h3 { font-size: 18px; }
            p { font-size: 15px; }
        }

        .senha {
            color      : $verde-claro;
            font-size  : 15px;
            font-family: $font_droidsans;
            font-weight: bold;
            text-align : right;
            margin     : 0;

            span {
                font-size: 15px;
                font-family: $font_droidsans_bold;
                font-weight: bold;
            }
        }

        .bt-amostra {
            background: #ffffff;
            background: rgba(#ffffff, 0.5);
            right: 32px;

            &:hover { color: $verde-claro; }
        }
    }
}

@media only screen and (max-width: $bp-small) { // 480
    $box-width: 460px;
    $box-width-np: $box-width - ( $box-pad * 2 );
    #enviarMensagem {
        .box { width: $box-width - $box-total-pad; }
        .boxes {
            width: $box-width;
            height: $box-side;
            margin-bottom: 2px;

            .box { width: $box-width - $box-side - ($box-total-pad * 2); }
            .box.numero { width: $box-side - $box-total-pad; }
        }
        .etapa { 
            width: $box-width;
            margin-left: $box-width / -2; 
            .campo { width: $box-width-np - 20px; }
        }
        .etapa-2 {
            margin-top: -180px;

            .boxes { 
                width: $box-width; 
                .box.titulo { width: $box-width - $box-side - ($box-total-pad * 2); }
            }
            .login {
                width: $box-width;
                
                .box {
                    width: ($box-width-np / 2) - 16px;
                    margin: 0px;
                }

                .facebook {
                    left: 0;
                    background: #547bbd;
                    background: rgba(#547bbd,0.5);
                }
                .email {
                    right: 0;
                    background: #ffffff;
                    background: rgba(#ffffff,0.4);

                    a { margin-top: 5px; }
                }
            }
        }

        .etapa-3 {
            .recaptcha {
                .campo { width: $box-width - $box-total-pad - 140px; }
            }
        }

        .etapa-4 {
            .box { 
                width: $box-width-np;
                line-height: 1.4;
                padding: 10px $box-pad;
                text-align: center;
            }
            .boxes {
                height: auto;

                .box.titulo { 
                    width: $box-width-np; 
                    height: 20px;
                }
                .box.titulo2 {
                    width: $box-width;
                    height: $box-side; 
                    margin-top: 2px;

                    .botao { 
                        height: $box-side; 
                        line-height: $box-side;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bp-iphone) { // 320
    $box-width: 300px;
    $box-width-np: $box-width - ( $box-pad * 2 );
    #enviarMensagem {
        background: rgba(0,0,0,0.3);

        .box { width: $box-width - $box-total-pad; }
        .boxes {
            width: $box-width;
            height: $box-side;
            margin-bottom: 2px;

            .box { width: $box-width - $box-side - ($box-total-pad * 2); }
            .box.numero { width: $box-side - $box-total-pad; }
            .box.titulo { 
                padding: 10px;
                line-height: 1.4; 
            }
        }
        .etapa { 
            width: $box-width;
            margin-left: $box-width / -2; 
            .campo { width: $box-width-np - 20px; }
        }
        .etapa-2 {
            margin-top: -200px;

            .boxes { 
                width: $box-width; 
                .box.titulo { width: $box-width - $box-side - ($box-total-pad * 2); }
            }
            .login {
                width: $box-width;
                
                .box {
                    width: ($box-width-np / 2) - 1px;
                    margin: 0px;
                }

                .facebook {
                    left: 0;
                    background: #547bbd;
                    background: rgba(#547bbd,0.5);
                }
                .email {
                    right: 0;
                    background: #ffffff;
                    background: rgba(#ffffff,0.4);

                    a { margin-top: 5px; }
                }
            }
        }

        .etapa-3 {
            .recaptcha {
                .campo { width: $box-width - $box-total-pad - 140px; }
            }
        }

        .etapa-4 {
            .box { width: $box-width-np; }
            .boxes {
                .box,
                .box.titulo { width: $box-width-np; }
                .box.titulo2 { width: $box-width; }
            }
        }
    }
}