body, select, input, textarea {
    color: $font-color;
    font-family: $font-family;
}

html,body { margin: 0;padding: 0; }
body { background-color: #000000; }

a {
    color          : $link-color;
    text-decoration: none;
    @include transition-property(color,background);
    @include transition-duration(0.5s);

    &:hover { color: $link-color; }
}

#main {
    display     : none;
    width       : 100%;
    max-width   : 1600px;
    margin      : 0 auto;
    overflow    : hidden;
    position    : relative;
    z-index     : 0;
    background  : {
        repeat  : no-repeat;
        position: 50% 0;
    }
    // @include background-size(cover);
}

#container {
    width   : 100%;
    margin  : 0 auto;
    position: relative;
}

#morro {
    display          : none;
    position         : fixed;
    width            : 100%;
    max-width        : 1600px;
    height           : 100%;
    top              : 0;
    left             : 0;
    right            : 0;
    // padding-bottom: $cristo-ratio * 1%;
    background       : {
        // image     : image-url('fundo-morro.png');
        repeat       : no-repeat;
        position     : 50% 0%;
    };
}

#sobreCristo {
    display   : none;
    background: $branco;
    color     : $verde-escuro;
    padding   : 15px;

    h2 { font-family: $font-droidsans-bold; }
}


.main-footer {
    display       : none; //para animação
    position      : relative;
    z-index       : 2;
    width         : 100%;
    padding       : 40px 0;
    vertical-align: middle;
    text-align    : left;
    color         : lighten($cinza,30%);
    background    : #ffffff;

    a {
        text-decoration: underline;
        color          : $cinza;
    }

    .borda-setas {
        background: transparent image-url('footer-borda.png') repeat-x;
        width     : 100%;
        height    : 9px;
        position  : absolute;
        top       : -8px;
        left      : 0;
    }

    .logo-amigo {
        position: absolute;
        right   : 0;
        top     : -130px;
    }

    .cif-content {
        margin-right: 25px;
        width       : 251px;

        .logo {
            $logo: 'logo-cif-footer.png';
            @extend .vcentered;
            @include replace-text-with-dimensions($logo);
            background-position: right top;
            margin             : -30px 0 0;
        }

        ul {
            margin        : 5px 0 0 0;
            padding       : 0;
            list-style    : none;
            vertical-align: middle;
            @extend .vcentered;

            li {
                height       : 18px;
                margin-bottom: 2px;
                font-size    : 11px;
                font-weight  : normal;
            }
        }

        p { 
            text-align: center; 
            font-size : 11px;
            color     : #373737;
            margin    : 0;
            @include opacity(0.56);
        }
    }

    .sesc-content {
        padding-top : 20px;
        padding-left: 25px;
        font-family : $font-droidsans;
        font-size   : 18px;
        font-weight : 600;
        line-height : 22px;
        border-left : 1px solid #e5e5e5;

        p {
            font-size: 16px;
            font-weight  : normal; 
        }

        a { 
            font-family: Arial; 
            font-size  : 11px;
            font-weight: bold;
            color      : #373737;
        }
    }
}

.error-form{
    background-color: $vermelho-escuro !important;
    color           : $branco !important;
}

@media only screen and (max-width: $bp-medium) {
    #morro {
        position: fixed;
        bottom  : auto;
        top     : 0;
        padding : 0;
        height  : 100%;
        @include background-size(cover);
    }
}

@media only screen and (max-width: $bp-tablet) { // 480
    body { position: relative; }
    .main-footer {
        .logo-amigo { right: 10px; top: -110px; }
        .sesc-content {
            padding-top: 0;

            .media__img {
                float        : none;
                display      : block;
                margin-bottom: 20px;
            }

            p { font-size: 14px; }
        }
    }
}

@media only screen and (max-width: $bp-iphone) { // 320
    .main-footer {
        @include clearfix;

        .cif-content {
            display: block;
            float  : none;
        }

        .sesc-content {
            display     : block;
            float       : none;
            border-left : none;
            border-top  : 1px solid #e5e5e5;
            padding-left: 0;
            margin-top  : 25px;
            padding-top : 25px;
        }
    }
}