$margem-etapa: 2px;
$largura-etapa: 320px;
$largura-abridor: 130px;
$largura-envie: 200px;
$qtde-etapas: 3;

#instrucoes {
    display : none; // para animação
    position: fixed;
    left    : ($largura-etapa + $margem-etapa) * -$qtde-etapas;
    top     : 50%;
    z-index : 4;
    width   : ($largura-etapa + $margem-etapa) * $qtde-etapas + $largura-abridor + $margem-etapa;
    @include transition-property(left);
    @include transition-duration(0.7s);

    .etapa {
        float      : left;
        width      : $largura-etapa ;
        height     : 115px;
        color      : #000000;
        background : $branco;
        background : rgba($branco, 0.5);
        margin     : 0 $margem-etapa $margem-etapa 0;
        font-family: $font-droidsans;
        font-size  : 15px;
        font-weight: bold;

        strong { font-family: $font-droidsans-bold; }

        .etapa-n {
            float       : left;
            width       : 60px;
            height      : 100%;
            line-height : 115px;
            background  : $branco;
            font-family : $font-helvetica-thin;
            font-weight : normal;
            font-size   : 56px;
            text-align  : center;
            margin-right: 15px;
            @include arrow(right, center, $branco, $branco);
        }

        .etapa-conteudo {
            float      : left;
            display    : block;
            width      : 240px;
            height     : 100%;
            line-height: 20px;
            padding    : 20px 10px;
            // @include inline-block;

            p { margin      : 0; }
            img { margin-top: -20px; }

            .seta {
                position  : absolute;
                right     : -10px;
                top       : 50%;
                margin-top: -11px;
            }
        }

        &.passo-1, &.passo-2 {
            .etapa-conteudo p {margin-top: 20px;}
        }
        &.passo-3 {
            .etapa-conteudo p {margin-top: 8px;}
        }

        &.abridor, &.envie {
            float   : right;
            position: relative;
            width   : $largura-abridor;
            padding : 8px;
            cursor  : pointer;

            .etapa-conteudo { width: 100%; }
        }

        &.envie {
            display    : none;
            width      : 200px;
            background : $branco image-url('passoapasso-envie-bg.jpg') repeat-y right top;
            font-size  : 20px;
            font-weight: bold;

            p { line-height: 26px; }
            a { color: #000000; }

            .fechar {
                @include replace-text-with-dimensions('fancybox/fancybox_close.png');
                display: block;
                position: absolute;
                top: -29px;
                right: 0;
            }
        }
    }

    &.aberto {
        left: 0;
        width: ($largura-etapa + $margem-etapa) * $qtde-etapas + $largura-envie + $margem-etapa;

        .abridor { display: none; }
        .envie { display: block; }
    }
}

@media only screen and (max-width: $bp-tablet) {
    #instrucoes {
        left : ($largura-etapa + $margem-etapa) * -1;
        width: $largura-etapa + $margem-etapa + $largura-abridor + $margem-etapa;
    }
}

@media only screen and (max-width: $bp-small) {
    #instrucoes {
        position: absolute;
        top     : 200px;
    }
}

@media only screen and (max-width: $bp-iphone) {
    #instrucoes {
        position: absolute;
        top     : 200px;
        left    : ($largura-etapa + $margem-etapa + $largura-abridor - 20px) * -1;
    }
}