#player {
    padding: 40px 0;
    position: relative;
    z-index: 4;
    max-width: 1000px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    @include clearfix;

    .player-mobile { display: none; }
}