#sobreCristo {
    background: image-url('sobre-cristo-fundo.jpg') no-repeat center bottom;
    width: 1000px;
    height: 620px;
    padding-left: 445px;
    padding-right: 40px;
    color: $branco;
    border-bottom: 7px solid $verde-claro;

    h2 {
        font-family: $font-helvetica-thin;
        font-size: 34px;
        padding-top: 20px;
        margin: 30px 0 10px;
        text-transform: uppercase;
        text-align: justify;
        border-top: 7px solid $verde-claro;

        strong { font-family: $font-helvetica-light; }
    }

    p {
        font-size: 11px;
        font-family: Verdana;
        line-height: 13px;
    }
}