$logo          : 'logo-cif.png';
$estrela       : 'estrelas-qtde.png';

$largura-logo  : image-width($logo);
$altura-logo   : image-height($logo);
$altura-estrela: image-height($estrela);
// $altura-estrela: 50px;

#conteudo {
    @extend .vcentered;
    position   : relative;
    z-index    : 3;
    width      : 100%;
    font-size  : 12px;
    font-family: $font-droidsans;

    .logo {
        // @include inline-block;
        @extend .vcentered;
        width        : $largura-logo;
        height       : $altura-logo;
        margin-right : 15px;
        margin-left  : -15px;
        margin-bottom: 0;
        position     : relative;
        @include replace-text($logo);
    }

    .menu-superior {
        @extend .vcentered;
        text-align: left;
        padding   : 0;
        margin    : 0;

        li {
            @include inline-block;
            list-style: none;
            padding   : 0;
            margin    : 0 2px 0 0;

            a {
                margin-right  : 2px;
                color         : $branco;
                font-weight   : bold;
                @include opacity(0.6);

                &:hover { color: $verde-claro; }
            }
        }
        
    }

    .numero-estrelas {
        @extend .vcentered;
        padding-left: 35px;
        height      : $altura-estrela;
        line-height : $altura-estrela;
        color       : $branco;
        background  : {
            image   : image-url('estrelas-qtde.png');
            repeat  : no-repeat;
            position: 0px center;
        };

        p {
            margin: 0;
            @include opacity(0.6); 
        }
    }

    .veja-video {
        @extend .vcentered;
        width      : 270px;
        margin-left: 22px;
        color      : $verde-claro;
        font-family: $font-droidsans;

        img { 
            @extend .vcentered; 
            margin-right : 5px;
            border-bottom: 3px solid $verde-claro;
        }
        p {
            @extend .vcentered; 
            width : 135px; 
            margin: 0;
        }
    }

    .chamada {
        // @include inline-block;
        @extend .vcentered;
        @extend .image-replacement;

        width         : 100%;
        margin        : 25px 0;
        font-family   : $font-helvetica-thin;
        font-size     : 22px;
        font-weight   : normal;
        text-transform: uppercase;
        background    : {
            image     : image-url('txt-chamada.png');
            repeat    : no-repeat;
            position  : left top;
        }

        strong { font-family: $font-helvetica-light; }
    }

    .descritivo {
        float      : left;
        text-align : left;
        font-family: $font-droidsans;
        font-size  : 14px;
        line-height: 20px;
        width      : 400px;

        p { 
            margin: 0;
            small { color: #cccccc; }
        }
    }

    $bt-enviar: 'bt-enviar-mensagem.png';
    .bt-enviar-mensagem {
        @extend .image-replacement;
        float       : right;
        width       : image-width($bt-enviar);
        height      : image-height($bt-enviar);
        background  : {
            image   : image-url($bt-enviar);
            repeat  : no-repeat;
            position: left center;
        }
    }

    .idiomas {
        position: absolute;
        top     : 3px;
        right   : 0;

        li {
            list-style : none;
            width      : 31px;
            height     : 19px;
            float      : right;
            margin-left: 2px;

            a {
                display       : block;
                width         : 100%;
                height        : 100%;
                line-height   : 19px;
                text-transform: uppercase;
                text-align    : center;
                font-size     : 14px;
                color         : rgba(#010a14, 0.6);
                background    : $branco;
                background    : rgba($branco,0.37);
                

                &.ativo { background: $verde-claro; }
            }
        }
    }
}

.finalizado {
    #conteudo {
        margin-bottom: 50px;
        .chamada {
            background-image: image-url('txt-chamada-fim.png');
        }

        $bt-enviar: 'bt-peca-amostra.png';
        .bt-enviar-mensagem {
            width           : image-width($bt-enviar);
            height          : image-height($bt-enviar);
            background-image: image-url($bt-enviar);
        }

        $bt-veja: 'bt-veja-mensagens.png';
        .bt-veja-mensagens {
            @extend .image-replacement;
            width            : image-width($bt-veja);
            height           : image-height($bt-veja);
            background-image : image-url($bt-veja);
            float            : right;
            margin-right     : 20px;
        }
    }
}

.making-of {
    .video-final {
        margin-bottom: 200px;
    }
}

.ingles {
    #conteudo {
        .chamada {
            background-image: image-url('txt-chamada-en.png');
        }

        $bt-enviar: 'bt-enviar-mensagem-en.png';
        .bt-enviar-mensagem {
            width           : image-width($bt-enviar);
            height          : image-height($bt-enviar);
            background-image: image-url($bt-enviar);
        }
    }

    &.finalizado {
        #conteudo {
            .chamada {
                background-image: image-url('txt-chamada-fim-en.png');
            }

            // .bt-enviar-mensagem {
            //     display: none;
            //     visibility: hidden;
            // }

            $bt-enviar: 'bt-peca-amostra-en.png';
            .bt-enviar-mensagem {
                width           : image-width($bt-enviar);
                height          : image-height($bt-enviar);
                background-image: image-url($bt-enviar);
            }

            $bt-veja: 'bt-veja-mensagens-en.png';
            .bt-veja-mensagens {
                width            : image-width($bt-veja);
                height           : image-height($bt-veja);
                background-image : image-url($bt-veja);
            }
        }
    }
}

.fixo {
    #conteudo {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 5px;
        background: $branco;
        text-align: center;

        .menu-superior,
        .numero-estrelas,
        .veja-video,
        .descritivo,
        .idiomas,
        .chamada .e-voce { display: none; }

        $logo: 'logo-cif-fixo.png';
        $altura-logo: image-height($logo);

        .logo {
            width: image-width($logo);
            height: $altura-logo;
            margin-bottom: 0;
            background: {
                image: image-url($logo);
                repeat: no-repeat;
                position: 0 0;
            };
        }

        .chamada { 
            @extend .vcentered;
            color: $verde-escuro; 
            margin: 0 10px;
            font-size: 18px;
            width: auto;
            background: none;
        }

        .bt-enviar-mensagem, .bt-veja-mensagens { 
            @extend .vcentered;
            float: none; 
        }
    }
}


@media only screen and (max-width: $bp-medium) { // 768
    #conteudo {
        .conteudo-superior { text-align: center; }
        // .logo { width: $largura-logo; }
        .numero-estrelas {
            .txt-mensagens { display: none; }
        }

        .veja-video {
            width: auto;
            p { display: none; }
        }

        .descritivo { 
            width: 280px; 
            margin-left: 20px;
        }
        .chamada { text-align: center; }
    }
}


@media only screen and (max-width: $bp-tablet) { //640
    #conteudo {
        .menu-superior {
            width: auto;

            li {
                display: block;
                margin: 5px 0;
                width: auto;

                span { display: none; }
            }
        }

        .bt-enviar-mensagem { 
            margin-top: 10px;
        }

        .chamada,
        .descritivo { display: none; }
    }
}

@media only screen and (max-width: $bp-iphone) { //480
    #conteudo {
        .bt-enviar-mensagem { 
            float: none; 
            display: block;
        }
    }
}