// cores
$branco: #ffffff;
$cinza: #373737;
$verde-claro: #83b55b;
$verde-escuro: #061c33;
$vermelho-claro: #ca421b;
$vermelho-escuro: #af3d1d;

$cor-loading: $verde-escuro;

// base
$font-family: unquote("Arial, Helvetica, sans-serif");
$font-size: 14px;
$line-height: 1.4;
$font-color: $branco;
$selected-font-color: $branco;
$selected-background-color: $verde-escuro;

// Links
$link-color: $verde-claro;
$link-visited-color: $verde-claro;
$link-hover-color: $verde-claro;

// Lists
$list-left-margin: 0px;

//fonts
$font-helvetica-thin: 'HelveticaNeue-Thin';
$font-helvetica-light: 'HelveticaNeue-Light';
$font-droidsans: Arial, Helvetica, sans-serif; // 'DroidSans-Regular';
$font-droidsans-bold: Arial, Helvetica, sans-serif; // 'DroidSans-Bold';
$font-myriadpro: $font-droidsans;
$font-myriadpro-bold: $font-droidsans-bold;

//breakpoints
$bp-iphone: 320px;
$bp-small: 480px;
$bp-tablet: 640px;
$bp-medium: 768px;

//cristo
$cristo: 'cristo.png';
$cristo-ratio: ( ( image-height($cristo) * 100 ) / image-width($cristo) ) - 2;
$cristo-ratio: $cristo-ratio / ($cristo-ratio * 0 + 1);

/*------------------------------------*\
    inuit.css $DEFAULTS
\*------------------------------------*/
$base-font-size:    $font-size;
$base-line-height:  18px;
$brand-color:       $verde-claro;
$brand-face:        $font-helvetica-thin, "Helvetica Neue", sans-serif;
$brand-round:       5px;
$use-arrows:        true;
$use-grids:         true;
$use-breadcrumb:    true;
$use-media:         true;
$use-block-list:    true;
$use-this-or-this:  true;
$use-link-complex:  true;
$use-rules:         true;
$use-stats:         true;